<h3>
  Terminal Commands
  <br>
</h3>

<div id = "content">
  <ul>
    <li>change directory and go one level up: cd ... </li>
    <li>listing everything in the directory:</li>
      <ul>
        <li>plain view: ls</li>
        <li>detailed view (long list view): ls -ll</li>
      </ul>
    <li>print working directory: pwd</li>
    <li>make directory: mkdir</li>
    <li>clear Terminal screen: cmd+k</li>
  </ul>
</div>

<% wontons = @transactions %>
<%= wontons[0] %>
