<h1>
<%= link_to "devgrams.", home_path %>
</h1>

<h5>
<ul>
  <li>
    <%= link_to "about", about_path %>
  </li>
  <li>
    <%= link_to "topics", topic_path %>
  </li>
  <li>
      <%= link_to "contact", contact_path %>
  </li>
</ul>
</h5>
